<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_mellat">
        <observer name="mellat_gateway_data_assign" instance="MagentoFarsi\Mellat\Observer\DataAssignObserver" />
    </event>
</config>
